[Desktop Entry]
Type=Application
Name=Sync
Exec=/usr/local/bin/sync.sh --force
Icon=mail-send-receive-symbolic
Hidden=false
NoDisplay=false
Terminal=false
